@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-font: 'Roboto', sans-serif;
$primary-color: #ffffff;
$secondary-color: #00e1ff;

$light-blue: #00d9ff;
$medium-blue: #00a6ff;
$dark-blue: #006eff;

$light-to-dark-blue-gradient: linear-gradient(to right, $light-blue, $dark-blue);
$medium-to-dark-blue-gradient: linear-gradient(to right, $medium-blue, $dark-blue);

$light-background-color: #ffffff;
$dark-background-color: #e4e4e4;
$home-background-gradient: linear-gradient(to right, $light-background-color, $dark-background-color);