.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  .whiteboard-grid {
    display: grid;
    min-height: 400px;
    min-width: 1400px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: $medium-blue;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid $primary-color;

    .whiteboard-thumbnail {
      cursor: pointer;
    }
    
    .whiteboard-thumbnail:hover {
      transform: scale(1.01);
    }
    
    .whiteboard-title {
      flex-grow: 1;
    }
  }
}
