.buttons-container {
  margin: 10px;
  width: 200px;
  z-index: 2;
  box-shadow: -6px 8px 5px rgba(0, 0, 0, 0.24);

  .button {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    border: 1px solid #ffffff;
  }
}

.add-button {
  margin: 30px;
}

.leave-button {
  position: absolute;
  top: 25px;
  right: 30px;
}