.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: $primary-color;
  background: $light-to-dark-blue-gradient;

  .title {
    font-size: 52px;
    color: white;
  }

  .avatar {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    border-radius: 50%;
  }
}

.sticky-header-full-width {
  @extend .sticky-header;
  width: 100vw;
}