.action-buttons {
  display: flex;
  gap: 20px;

  .icon {
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .edit-icon {
    @extend .icon;
    color: $dark-blue;
  }

  .delete-icon {
    @extend .icon;
    color: darkred;
  }
  
  .edit-icon:hover {
    color: $light-blue;
  }

  .delete-icon:hover {
    color: lightcoral;
  }
}

.home-container {
  padding: 20px;
}

.modal {
  color: black;
}